label.requerido::after{
    content: " *";
    color: #e73d4a;
}

.d-inline{
    display: inline;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.pl-40{
    padding-left:40px !important;
}
.pl-50{
    padding-left:50px !important;
}
.pl-60{
    padding-left:60px !important;
}